<div class="container">
    <div class="row">
        <div class="col-5">
            {{!-- List of burgers --}}
            <h1 class="columnHeader">Eat any of the burgers below</h1>
            {{!-- List of burgers that have not been devoured --}}
            <ul>
                {{#each burgers}}
                {{!-- Unless not yet devoured --}}
                {{#unless devoured}}
                {{!-- Create a list of burgers --}}
                <li>
                    <img src="assets/img/Burger.PNG" height='50px' width='50px'>
                    {{burger_name}}
                    <button class="burgerDelete" data-id="{{id}}" data-devoured="{{devoured}}">
                        {{#unless devoured}}DEVOUR IT!{{/unless}}
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>


        </div>
        {{!-- Title card --}}
        <div class="col-4">
            <div class="card">
                <img src="assets/img/Burger.PNG" class="card-img-top titleImage" alt="King of Burgers">
                <div class="card-body">
                    <h5 class="card-title">Welcome to King of Burgers</h5>
                    <p class="card-text">Submit the Burger Name to save it to our database to be devoured!</p>
                </div>
            </div>

            {{!-- Form --}}
            <form>
                <div class="form-group">
                    <label for="burgerInput">Burger Name</label>
                    <input type="text" class="form-control" id="burgerInput" aria-describedby="burgerInput"
                        placeholder="Cheezus Burger">
                    <small id="emailHelp" class="form-text text-muted">Give a name to your burger</small>
                </div>
                {{!-- Submit Burger button --}}
                <button type="submit" class="btn btn-primary" id="submitBurger">Submit</button>
            </form>
        </div>

        {{!-- Devoured column --}}
        <div class="col-3">
            {{!-- List of burgers --}}
            <h1 class="columnHeader">Devoured Burgers</h1>
            {{!-- List of burgers that have been devoured --}}
            <ul>
                {{#each burgers}}
                {{!-- if devoured --}}
                {{#if devoured}}
                {{!-- Create a list of burgers that have been eaten--}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>